<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088421932979-fscr4hbemgngjvg6c8f6jv2vrvpm86d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088421932979-fscr4hbemgngjvg6c8f6jv2vrvpm86d9</string>
	<key>API_KEY</key>
	<string>AIzaSyDjxVTxii8apSwb-tlXhhzOT6XHtyzylYk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088421932979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outflowV2</string>
	<key>PROJECT_ID</key>
	<string>outflow-v2-9b250</string>
	<key>STORAGE_BUCKET</key>
	<string>outflow-v2-9b250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088421932979:ios:bbcc581e19489aa1a7a5c6</string>
</dict>
</plist>